<%- include ('../_partials/_header.ejs') -%>


</ul>

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search Not Supported" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</nav>


<div id="page-container">
	<div id="content-wrap">
  
<h1>Contact section</h1>

<%- include ('../_partials/_footer.ejs') -%>
        