<%- include ('../_partials/_header.ejs') -%>

<div class="container">
  <form action="ValidateUser" method="post">
		<div class="loginbox" id="loginform">
	
			<h4>User Sign In</h4>
			<p>Username</p>
			<input type="text" placeholder="Enter Username" name="uname">
			<p>Password</p>
			<input type="password" placeholder="Enter Password" name="upass">
			<input type="submit" name="login-submit" value="Login">

		</div>
	</form>
	

</div>>
<%- include ('../_partials/_footer.ejs') -%>
